[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boltons = "*"
editdistance = "*"
flask = "*"
h5py = "*"
numpy = "*"
opencv-python-headless = "*"
requests = "*"
tensorflow-gpu = "==1.14.*"
toml = "*"
tqdm = "*"

[dev-packages]
bandit = "*"
gpustat = "*"
gradescope-utils = "*"
grequests = "*" # admin
itermplot = "*"
jupyterlab = "*"
matplotlib = "*"
mypy = "*"
nltk = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pyyaml = "*"
redlock-py = "*"
tornado = "*"
scipy = "*"
pillow = "*"
wandb = "*"

[requires]
python_version = "3.6"
