[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boltons = "*"
editdistance = "*"
flask = "*"
h5py = "*"
ipdb = "*"
numpy = "*"
opencv-python-headless = "*"
requests = "*"
tensorflow-gpu = ">=1.12,<1.13"
toml = "*"
tqdm = "*"

[dev-packages]
bandit = "*"
gpustat = "*"
gradescope-utils = "*"
grequests = "*" # admin
itermplot = "*"
jupyterlab = "*"
matplotlib = "*"
mypy = "==0.660" # TODO (2019-02-27) bump when unresolvable subdependency mismatch between mypy and pylint is resolved
nltk = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pyyaml = "*"
redlock-py = "*"
scipy = "*"
wandb = "*"

[requires]
python_version = "3.6"
