[MESSAGES CONTROL]

# Disable the message(s) with the given id(s).
# I0011 - locally-disabled- messages showing local disabling of pylint messages
# E1126 - Sequence index is not int,slice... - Bug in pylint:https://github.com/PyCQA/pylint/issues/1295
disable=C0111,I0011,E1126,E0401,W0511,W0703,W1203,R0801

# Code locally disables the following messages:
# R0204 - redefined_variable_type - gives false negatives for conditionals (https://github.com/PyCQA/pylint/issues/710)
# W0201 - attribute-defined-outside-init - gives false negatives when attribute is defined in method called within init.

[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=numpy

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=cv2,numpy

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set). This supports can work
# with qualified names.
ignored-classes=cv2,numpy

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names = _, e, f, fn, i, j, k, n, N, m, M, D, p, t, v, x, X, y, Y, w, h, W, H, x1, x2, y1, y2, ax, df

# Regular expression which should only match correct function names
function-rgx=[a-z_][a-z0-9_]{2,70}$

# Regular expression which should only match correct method names
method-rgx=[a-z_][a-z0-9_]{2,70}$

[FORMAT]

# Maximum number of characters on a single line.
max-line-length = 120

[DESIGN]
# Minimum number of public methods for a class (see R0903).
min-public-methods = 0

# Maximum number of attributes for a class (see R0902).
max-attributes = 15

max-locals = 18

max-args = 8
