[MESSAGES CONTROL]

# Disable the message(s) with the given id(s).
# E1130 - invalid-unary-operand-type false positive https://github.com/PyCQA/pylint/issues/1472
# E1136 - unsubscriptable (unsubscriptable-object) - Pylint is failing to infer correct type from astroid https://github.com/PyCQA/pylint/issues/2849
# R0801 - similar lines across files
# W0511 - TODO comments
# W1202 - logging-format-interpolation - Behavior barring fstrings in logging https://github.com/PyCQA/pylint/issues/2395
# missing-function-dosctring: docstyle handles
# bad-continuation: disagrees with black formatter
disable=E1130,E1136,R0801,W0511,W1202,missing-function-docstring,bad-continuation
# LAST AUDITED: 2019-01-09

[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=numpy

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=cv2,numpy,tensorflow

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set). This supports can work
# with qualified names.
ignored-classes=cv2,numpy,tensorflow

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names = _, e, f, fn, i, j, k, n, N, m, M, D, p, t, v, x, X, y, Y, w, h, W, H, x1, x2, y1, y2, ax, df

# Regular expression which should only match correct function names
function-rgx=[a-z_][a-z0-9_]{2,70}$

# Regular expression which should only match correct method names
method-rgx=[a-z_][a-z0-9_]{2,70}$

[FORMAT]

# Maximum number of characters on a single line.
max-line-length = 120

[DESIGN]
# Minimum number of public methods for a class (see R0903).
min-public-methods = 0

# Maximum number of attributes for a class (see R0902).
max-attributes = 15

max-locals = 18

max-args = 8
